-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: bluemoon_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chi_tiet_hoa_don`
--

DROP TABLE IF EXISTS `chi_tiet_hoa_don`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chi_tiet_hoa_don` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hoa_don_id` bigint NOT NULL,
  `danh_muc_phi_id` bigint NOT NULL,
  `so_luong` bigint NOT NULL DEFAULT '1',
  `don_gia` bigint NOT NULL DEFAULT '0',
  `thanh_tien` bigint NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `hoa_don_id` (`hoa_don_id`),
  KEY `danh_muc_phi_id` (`danh_muc_phi_id`),
  CONSTRAINT `chi_tiet_hoa_don_ibfk_1` FOREIGN KEY (`hoa_don_id`) REFERENCES `hoa_don` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_hoa_don_ibfk_2` FOREIGN KEY (`danh_muc_phi_id`) REFERENCES `danh_muc_phi` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_hoa_don`
--

LOCK TABLES `chi_tiet_hoa_don` WRITE;
/*!40000 ALTER TABLE `chi_tiet_hoa_don` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_tiet_hoa_don` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danh_muc_phi`
--

DROP TABLE IF EXISTS `danh_muc_phi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danh_muc_phi` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ten_phi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `loai_phi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `don_gia` bigint NOT NULL DEFAULT '0',
  `don_vi_tinh` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text COLLATE utf8mb4_unicode_ci,
  `chu_ky` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danh_muc_phi`
--

LOCK TABLES `danh_muc_phi` WRITE;
/*!40000 ALTER TABLE `danh_muc_phi` DISABLE KEYS */;
/*!40000 ALTER TABLE `danh_muc_phi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dong_gop_tu_nguyen`
--

DROP TABLE IF EXISTS `dong_gop_tu_nguyen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dong_gop_tu_nguyen` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `khoan_thu_id` bigint NOT NULL,
  `ho_dan_id` bigint NOT NULL,
  `so_tien` bigint NOT NULL,
  `ngay_dong_gop` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `nguoi_thu_id` bigint DEFAULT NULL,
  `ghi_chu` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `khoan_thu_id` (`khoan_thu_id`),
  KEY `ho_dan_id` (`ho_dan_id`),
  KEY `nguoi_thu_id` (`nguoi_thu_id`),
  CONSTRAINT `dong_gop_tu_nguyen_ibfk_1` FOREIGN KEY (`khoan_thu_id`) REFERENCES `khoan_thu_tu_nguyen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dong_gop_tu_nguyen_ibfk_2` FOREIGN KEY (`ho_dan_id`) REFERENCES `ho_dan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dong_gop_tu_nguyen_ibfk_3` FOREIGN KEY (`nguoi_thu_id`) REFERENCES `nguoi_dung` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dong_gop_tu_nguyen`
--

LOCK TABLES `dong_gop_tu_nguyen` WRITE;
/*!40000 ALTER TABLE `dong_gop_tu_nguyen` DISABLE KEYS */;
/*!40000 ALTER TABLE `dong_gop_tu_nguyen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giao_dich`
--

DROP TABLE IF EXISTS `giao_dich`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `giao_dich` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ma_giao_dich` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hoa_don_id` bigint NOT NULL,
  `ho_dan_id` bigint NOT NULL,
  `so_tien` bigint NOT NULL,
  `phuong_thuc` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `thoi_gian` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ghi_chu` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_giao_dich` (`ma_giao_dich`),
  KEY `hoa_don_id` (`hoa_don_id`),
  KEY `ho_dan_id` (`ho_dan_id`),
  KEY `idx_giao_dich_thoi_gian` (`thoi_gian`),
  CONSTRAINT `giao_dich_ibfk_1` FOREIGN KEY (`hoa_don_id`) REFERENCES `hoa_don` (`id`),
  CONSTRAINT `giao_dich_ibfk_2` FOREIGN KEY (`ho_dan_id`) REFERENCES `ho_dan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giao_dich`
--

LOCK TABLES `giao_dich` WRITE;
/*!40000 ALTER TABLE `giao_dich` DISABLE KEYS */;
/*!40000 ALTER TABLE `giao_dich` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ho_dan`
--

DROP TABLE IF EXISTS `ho_dan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ho_dan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ma_ho_khau` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_phong` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `toa_nha` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dien_tich_m2` double DEFAULT NULL,
  `ten_chu_ho` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_cap_ho_khau` date DEFAULT NULL,
  `so_dien_thoai` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT 'da_dong',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_ho_khau` (`ma_ho_khau`),
  KEY `idx_ho_dan_so_phong` (`so_phong`)
) ENGINE=InnoDB AUTO_INCREMENT=359 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ho_dan`
--

LOCK TABLES `ho_dan` WRITE;
/*!40000 ALTER TABLE `ho_dan` DISABLE KEYS */;
/*!40000 ALTER TABLE `ho_dan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoa_don`
--

DROP TABLE IF EXISTS `hoa_don`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoa_don` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ho_dan_id` bigint NOT NULL,
  `thang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tong_tien` bigint NOT NULL DEFAULT '0',
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `ho_dan_id` (`ho_dan_id`),
  KEY `idx_hoa_don_thang` (`thang`),
  KEY `idx_hoa_don_trang_thai` (`trang_thai`),
  CONSTRAINT `hoa_don_ibfk_1` FOREIGN KEY (`ho_dan_id`) REFERENCES `ho_dan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=969 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoa_don`
--

LOCK TABLES `hoa_don` WRITE;
/*!40000 ALTER TABLE `hoa_don` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoa_don` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khoan_thu_tu_nguyen`
--

DROP TABLE IF EXISTS `khoan_thu_tu_nguyen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khoan_thu_tu_nguyen` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ten_khoan_thu` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngay_phat_dong` date NOT NULL,
  `ngay_ket_thuc` date DEFAULT NULL,
  `ghi_chu` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khoan_thu_tu_nguyen`
--

LOCK TABLES `khoan_thu_tu_nguyen` WRITE;
/*!40000 ALTER TABLE `khoan_thu_tu_nguyen` DISABLE KEYS */;
/*!40000 ALTER TABLE `khoan_thu_tu_nguyen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguoi_dung`
--

DROP TABLE IF EXISTS `nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nguoi_dung` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ten_dang_nhap` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mat_khau` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ho_ten` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vai_tro` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` tinyint(1) DEFAULT '1',
  `nhan_khau_id` bigint DEFAULT NULL,
  `ho_dan_id` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ten_dang_nhap` (`ten_dang_nhap`),
  UNIQUE KEY `nhan_khau_id` (`nhan_khau_id`),
  KEY `ho_dan_id` (`ho_dan_id`),
  CONSTRAINT `nguoi_dung_ibfk_1` FOREIGN KEY (`nhan_khau_id`) REFERENCES `nhan_khau` (`id`) ON DELETE SET NULL,
  CONSTRAINT `nguoi_dung_ibfk_2` FOREIGN KEY (`ho_dan_id`) REFERENCES `ho_dan` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguoi_dung`
--

LOCK TABLES `nguoi_dung` WRITE;
/*!40000 ALTER TABLE `nguoi_dung` DISABLE KEYS */;
/*!40000 ALTER TABLE `nguoi_dung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhan_khau`
--

DROP TABLE IF EXISTS `nhan_khau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhan_khau` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ho_ten` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cccd` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_sinh` date NOT NULL,
  `gioi_tinh` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `so_dien_thoai` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quan_he_chu_ho` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai_cu_tru` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_chuyen_den` date DEFAULT NULL,
  `ngay_chuyen_di` date DEFAULT NULL,
  `ho_dan_id` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `quan_he_voi_chu_ho` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nghe_nghiep` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dan_toc` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quoc_tich` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `noi_sinh` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cccd` (`cccd`),
  KEY `ho_dan_id` (`ho_dan_id`),
  KEY `idx_nhan_khau_ho_ten` (`ho_ten`),
  CONSTRAINT `nhan_khau_ibfk_1` FOREIGN KEY (`ho_dan_id`) REFERENCES `ho_dan` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=1268 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhan_khau`
--

LOCK TABLES `nhan_khau` WRITE;
/*!40000 ALTER TABLE `nhan_khau` DISABLE KEYS */;
/*!40000 ALTER TABLE `nhan_khau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhat_ky_hoat_dong`
--

DROP TABLE IF EXISTS `nhat_ky_hoat_dong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhat_ky_hoat_dong` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `noi_dung` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mau_sac` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thoi_gian` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhat_ky_hoat_dong`
--

LOCK TABLES `nhat_ky_hoat_dong` WRITE;
/*!40000 ALTER TABLE `nhat_ky_hoat_dong` DISABLE KEYS */;
INSERT INTO `nhat_ky_hoat_dong` VALUES (1,'Hß╗Ö <b>Le Van C</b> ─æ├ú thanh to├ín <b>1,265,000 ─æ</b>','#1E8449','2026-06-15 03:30:00'),(2,'Quß║ún trß╗ï vi├¬n ─æ├ú tß║ío h├│a ─æ╞ín th├íng <b>2026-06</b>','#2E86C1','2026-06-01 01:00:00'),(3,'Nh├ón khß║⌐u <b>Nguyen Thi D</b> vß╗½a ─æ╞░ß╗úc th├¬m v├áo hß╗Ö P.101','#8E44AD','2026-05-20 07:00:00');
/*!40000 ALTER TABLE `nhat_ky_hoat_dong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phuong_tien`
--

DROP TABLE IF EXISTS `phuong_tien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phuong_tien` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `bien_so` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `loai_xe` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mau_xe` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hang_xe` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ghi_chu` text COLLATE utf8mb4_unicode_ci,
  `ho_dan_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bien_so` (`bien_so`),
  KEY `ho_dan_id` (`ho_dan_id`),
  CONSTRAINT `phuong_tien_ibfk_1` FOREIGN KEY (`ho_dan_id`) REFERENCES `ho_dan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=529 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phuong_tien`
--

LOCK TABLES `phuong_tien` WRITE;
/*!40000 ALTER TABLE `phuong_tien` DISABLE KEYS */;
/*!40000 ALTER TABLE `phuong_tien` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-22 10:59:14
